html, body {
  margin: 0;
  padding: 0;
}
#rbutton {

  border: none;
  border-radius: 100%;
  outline: none;
}
#ibutton {

  border: none;
  outline: none;
}
#rb {

  background-image: url('images/buttons/rb.png');
  border: none;
  outline: none;
}

#lb {

  background-image: url('images/buttons/lb.png');
  border: none;
  outline: none;
}

canvas {
  display: block;
}
